body {
  background-color: black;
  color: white;
}

.center {
  text-align: center;
}

#nav-header {
  background-color: #2780FF;
  height: 50px;
  font-size: 34px;
  font-weight: lighter;
  padding-left: 25px;
}

/* Visited links under #nav-header */
#nav-header a, a:visited {
  text-decoration: none;
}

#main-container {
  width: 100%;
  background-color: #5298fc;
}

#logo-image {
  width: 100%;
  max-width: 600px;
}

#headline-text {
  font-size: 30px;
  padding: 25px;
}

#narrative-text {
  font-size: 24px;
  font-weight: lighter;
  padding: 25px;
}

#testimony {
  font-size: 18px;
  font-weight: lighter;
  color: #aaaaaa;
  margin: 20px 0;
}

#customer-container {
  background-color: white;
  width: 100%;
}

.customers img {
  padding: 25px 0;
  max-width: 125px;
}

.row-spacer {
  margin-top: 25px;
}

#footer {
  background-color: black;
  font-size: 18px;
  font-weight: lighter;
  color: white;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
}

#footer a {
  margin-left: 20px;
  margin-top: 15px;
  /* Allows us to apply a top margin. */
  display: inline-block;
}

#footer a, a:visited {
  color: white;
  text-decoration: none;
}
